.idea/*
.DS_STORE
src/val_permutations/.DS_STORE
src/test_permutations/.DS_STORE

src/common/__pycache__/*
src/candidate_generation/__pycache__/*

summaries/*
summary_scores/*
src/candidate_generation/finetuned_checkpoints/*
